#image{
background-image:url(../images/faqs.jpg);
background-size: cover;
background-position: center;
position: relative;

}
#ques {
float:center;
background-color:#589b37;
font-weight:bold;
font-style:Lucida Console;
width:100%;
}
#contact {
float:right;

height: 100%;
background-color:#589b37;
}
#img {
float:right;
width:300%;
}
#foot {

width:100%;
margin-top:150px;
background-color:#589b37;
padding: 1rem;
right:0;
left:0;
bottom:0;

}
#contact {
margin-bottom:70px;

}
#head {
	color:white;
}