#aboutus {
	width:150%;
}
#image {
	background-image:url(source/background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	
}
.overlay {
	 position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; 
}
#heading {
		background-color:#589b37;
	color:white;
}
#HEAD {
	color:white;
}
#ab {
	
	color:white;
	background-color:gray;
	height:50%;
	
}