body {
  font-family: 'Lato', sans-serif;
  background-image: url(4836.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1c8bba;
    background-blend-mode: hard-light;
    color: lightseagreen;
}
span
{
    font-size: 30px;
    cursor: pointer;
  
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
 height: 100vh;
  width: 100%;
  text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 60px;
    color: blueviolet;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


 .glitch {
     position: relative;
     display: inline-block;
     margin: 0;
}
 .glitch::before {
 
  content: "Voizfonica";
     position: absolute;
  overflow: hidden;
     vertical-align: 1px;
}
 .glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}


@keyframes glitch-animation-1 {
  0% {
    clip: rect(8px, 350px, 2px, 30px);
  }
  5% {
    clip: rect(143px, 350px, 66px, 30px);
  }
  10% {
    clip: rect(88px, 350px, 39px, 30px);
  }
  15% {
    clip: rect(67px, 350px, 121px, 30px);
  }
  20% {
    clip: rect(122px, 350px, 46px, 30px);
  }
  25% {
    clip: rect(129px, 350px, 119px, 30px);
  }
  30% {
    clip: rect(57px, 350px, 18px, 30px);
  }
  35% {
    clip: rect(135px, 350px, 76px, 30px);
  }
  40% {
    clip: rect(10px, 350px, 113px, 30px);
  }
  45% {
    clip: rect(92px, 350px, 134px, 30px);
  }
  50% {
    clip: rect(66px, 350px, 115px, 30px);
  }
  55% {
    clip: rect(143px, 350px, 52px, 30px);
  }
  60% {
    clip: rect(5px, 350px, 67px, 30px);
  }
  65% {
    clip: rect(141px, 350px, 97px, 30px);
  }
  70% {
    clip: rect(124px, 350px, 1px, 30px);
  }
  75% {
    clip: rect(103px, 350px, 21px, 30px);
  }
  80% {
    clip: rect(103px, 350px, 81px, 30px);
  }
  85% {
    clip: rect(43px, 350px, 5px, 30px);
  }
  90% {
    clip: rect(89px, 350px, 78px, 30px);
  }
  95% {
    clip: rect(117px, 350px, 120px, 30px);
  }
  100% {
    clip: rect(75px, 350px, 101px, 30px);
  }
}
